:root {
  --card-bg: #2b3945;
  --font-color: #fff;
  --spn-clr: #999999;
}

[data-theme="light"] {
  --card-bg: #f7f7f7;
  --font-color: #2b3945;
  --spn-clr: #999999;
}

.card {
  background-color: var(--card-bg);
  width: 17rem;
  height: 17rem;
  border-radius: 0.3rem;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(35, 35, 46, 0.13) 0px 7px 29px 0px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  .flag {
    width: 100%;
    height: 8rem;
  }

  &:hover {
    transform: scale(1.05);
  }

  .country-desc {
    color: var(--font-color);
    padding: 1rem;

    .country_name {
      font-weight: 600;
      padding-bottom: 0.7rem;
    }

    span {
      color: var(--spn-clr);
    }

    .region {
      margin-top: 0.3rem;
    }

    .capital {
      margin-top: 0.3rem;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 515px) {
  .card {
    width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .card {
    width: 18rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
